  .level2h1{
    font-size: 45px;
    font-family:Times New Roman;
    text-align: center;
    color: navy;
    margin-top: 10%;  
  }
  .level2h2{
    font-size: 23px;
    color:darkblue;
    margin-top: 18px;
    text-align: left;
    margin-bottom: 30px;
  }
  .level2li{
    font-size: 19px;
    color:black;
    text-align: left;
    
  }
  .level2li:hover{
    color:blue;
  }
  .quiz2h1{
    font-size: 45px;
    color:rgb(136, 0, 80);
    text-align: center;
    margin-top: 20PX;
    font-family:Times New Roman;
    background-color: skyblue; 
  }
  .quizes2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: center;
  }
  .qui2{
    flex: 0 0 calc(33.33% - 20px);
    background:rgb(136, 0, 80);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    transition: .3s;
    border: 2px solid transparent;
    margin: 0 10px 20px 10px;
  }
  .qui2:hover{
    border-color:skyblue;
  }
  .level2Image{
    width: 100%;
    height: 70%;
    margin-top: 5%;
  }
  .q2btn{
    background:skyblue;
    color:rgb(3,3,82);
    border-radius: 10px;
    max-width: 120px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
    border: 2px solid skyblue;
    font-weight: bold;
    text-align: center;
    margin-left: 36%;  
  }
  .q2btn:hover{
    background:transparent;
    color:skyblue;
  }
  @media(max-width:900px){  
    .qui2{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    width: 100%;
    }
    .level2h1{
        margin-top: 15%;
    }
    .q2btn{
        margin-left: 28%;
    }
  }
  @media(max-width: 500px){
    .qui2{
      flex:  0 0 calc(100%);
      max-width: calc(75%);
    } 
    .level1h1{
    margin-top: 20%;
    } 
}  
  



    

