.main-page {
    background-image: url('/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;

}

.welcome-text {
    margin-top: 150px;
}

.wText {
    margin-left: 25%;
    color: #7890e5;
}

.sText {
    margin-left: 25%;
    color: rgb(0, 0, 0);
}

.signinbtn {
    background-color: #423fe5;
}

.dictionarybtn {
    background-color: #908fda;
}

.signinbtn {
    padding: 15px;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 25%;
    margin-top: 70px;
    border-radius: 30px;
    width: 100px;
}

.signinbtn:hover {
    background-color: #1565c0;
}

.signinbtn:active {
    background-color: #0d47a1;
}

.dictionarybtn {
    padding: 15px;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 25%;
    margin-top: 40px;
    border-radius: 30px;
}

.dictionarybtn:hover {
    background-color: #45a6c4;
}

.dictionarybtn:active {
    background-color: #566bb8;
}

.main-page {
    position: relative;
}

@media only screen and (max-width: 768px) {
    .main-page {
        height: auto;
    }

    .wText,
    .sText,
    .signinbtn,
    .dictionarybtn {
        margin-left: 10%;
    }

    .signinbtn,
    .dictionarybtn {
        width: 100px;
    }
}