/* ProgressSection.css */
.progress-section {
    margin-bottom: 60px;
    position: relative;
}

.progress-bar {
    width: 70%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.progress {
    height: 100%;
    background-color: #4c81af;
}

.progressTitle {
    color: #2596be;
}

.details-box {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 200px;
}

.details-box p {
    margin: 5px 0;
    color: #333;
}

.details-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.details-box li {
    margin: 5px 0;
}