.user-popup {
    position: fixed;
    top: 34%;
    left: 85%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 6%;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 1100;
    padding-top: 4%;




}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #555;
}


.user-icon {
    margin-right: 0px;
    margin-top: 1%;
    align-items: center;

}

.action-buttons {
    margin-top: 20px;

}

.sign-out,
.delete-account {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #2E5DA3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    justify-content: initial;
    transition: background-color 0.3s;
    margin-bottom: 3%;

}

.sign-out:hover,
.delete-account:hover {
    background-color: rgb(28, 166, 221);
}

.user-details {

    text-align: left;
}

.user-details p {
    margin: 8px 0;
    color: black;
}