*{
    color: black;
  }
  
  
  .call-image {
    filter: brightness(0.5);
  }
  
  .contact-us-container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  
  .image-container {
    position: relative;
    width: 100%;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 40px;
    z-index: 1;
  }
  
  .contact-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .contact-option {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  
  .contact-option:last-child {
    margin-right: 0;
  }
  
  .contact-option h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .contact-option p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #000;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }