.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10%;

}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details p {
    margin: 5px;
}

.contact-details a {
    color: white;
    margin: 0 5px;
    text-decoration: none;
}