.home-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(202, 195, 195);
    position: relative;
    background-color: #eeeeee;

}

.intro-text {
    text-align: left;
    margin-left: 10%;
}

.welcome_text {
    color: #626193;
    font-size: 50px;

}

.search-bar {
    text-align: left;
    margin-left: 10%;
    margin-top: 7%;
}



.searchbar {
    border-radius: 10px;
    height: 40px;
    width: 50%;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}


.welcome_Subtext {
    text-align: left;
    color: #5f5b5b;
    font-size: 25px;
    line-height: 1.4;

}

img {
    width: 400px;
    height: 420px;
    margin-top: 100px;
    border-radius: 30px;

}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.right-content {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.left-content {
    width: 100%;
    margin-top: 100px;
}




.search-bar button {
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .main-content {
        flex-direction: row;
        justify-content: space-between;
    }
}