.home-page {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
}

.home-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

img {
    width: 400px;
    height: 450px;
    margin-top: 100px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.right-content {
    width: 100%;
    max-width: 600px;
    /* Adjust the max-width as needed */
    margin-top: 20px;
    /* Add margin for spacing */
}

.intro-text,
.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.search-bar button {
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .main-content {
        flex-direction: row;
        justify-content: space-between;
    }
}