.lesson-details {
    margin-top: 20px;

}

.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-details {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.marks-circle {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}

h2 {
    color: #3061b6;
}