h1 {
    background: lightblue;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    width: 100%;
}